:root{
    --backcolor1: #26abe4;
    --backcolor-hover: #eeeeee;
    --list-letter-color1: #ffffff;
    --list-letter-color-hover:#e7e7e7;
    --shadow: #636363;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    overflow: hidden;
}

@keyframes vanishing {
    0% {opacity: 100%; box-shadow: 0 0 0 var(--shadow);}
    25% {opacity: 75%; box-shadow: 0px 2px 10px var(--shadow);}
    50% {opacity: 50%; box-shadow: 0px 4px 10px var(--shadow);}
    75% {opacity: 25%; box-shadow: 0px 6px 10px var(--shadow);}
    100% {opacity: 0%; box-shadow: 0px 8px 10px var(--shadow);}
}

#home-image{
    width: 15%;
    height: 20%;
    position: absolute;
    border-radius: 100%;
    z-index: 3;
    animation: vanishing 5s linear 1s infinite alternate;
}

#home-image2{
    width: 15%;
    height: 20%;
    position: absolute;
    border-radius: 100%;
    z-index: 2;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    font-size: 1.5rem;
}

.description-container > p,h1{
    margin: 0;
}

.description-container > h1{
    text-shadow: 0px 1.5px 2px var(--shadow);
}

.last-entrances-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 45%;
}

.entrance{
    height: 100%;
    width: 30%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
}

.entrance-hover{
    height: 100%;
    width: 30%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    transform: scale(1.1);
}

.entrance > img{
    height: 100%;
    width: 100%;
    border-radius: 30%;
}

.entrance-hover > img{
    height: 100%;
    width: 100%;
    border-radius: 30%;
}

@media (max-width: 768px) {
    .last-entrances-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 45%;
    }
}