:root{
    --backcolor1: #26abe4;
    --backcolor-hover: #eeeeee;
    --list-letter-color1: #ffffff;
    --list-letter-color-hover:#e7e7e7;
    --shadow: #636363;
}

.header-container {
    width: 100%;
    height: 7vh;
    max-height: 7vh;
    background-color: var(--backcolor1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 10px var(--shadow);
    /*padding: 10px;*/

}

.header-container > nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-container > nav > ul,li {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: var(--list-letter-color1);
    font-weight: 700;
}

li> a {
    text-decoration: none;
    color: var(--list-letter-color1);
    transition: .5s all;
}

li :hover{
    color: var(--list-letter-color-hover);
    font-size: 1.5rem;
    text-shadow: 10px 10px 5px var(--shadow);
}
.search-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#search-bar{
    height: 40%;
    font-size: 1em;
    width: 50%;
    text-align: center;
    transition: all .3s;
    border: none;
    border-radius: 10px;
    transition: all .3s;
}

#search-bar-mouseover{
    height: 40%;
    font-size: 1em;
    width: 50%;
    text-align: center;
    transition: all .3s;
    border: none;
    border-radius: 10px;
    transition: all .3s;
    box-shadow: 1px 1px 10px var(--shadow);
    background-color: var(--list-letter-color-hover);
}

#search-button{
    height: 35%;
    font-size: 1em;
    width: 20%;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--list-letter-color-hover);
    color: var(--shadow);
    transition: all .3s;
}

#search-button-mouseover{
    height: 35%;
    font-size: 1em;
    width: 20%;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--list-letter-color-hover);
    color: var(--shadow);
    transition: all .3s;
   transform: scale(1.2);
   box-shadow: 5px 5px 10px var(--shadow);
}